.login-form{
    height: 100vh;
    width: 100vw;
}

.login-top{
    display: flex;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 20px;
     justify-content: center;
     align-items: center;
     color: #1b1414;
    border-bottom: 1px solid #d2d0d0;
}
.login-bottom{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}


.login-input{
    border:1px solid #c8c8c8;
    padding: 20px 10px 20px 10px;
    margin: 5px 0;
    color: black;
    outline: none;
    font-size: 14px;
    display: flex;
    gap: 15px;
}

.login-input-box{
    outline: none;
    border: none;
    width: 100%;
   font-size: 15px;
}

.login-input-box::placeholder{
    color: #a3a3a3;
}

.login-checkbox{
    display: flex;
    align-items: center;
    color: #989898;
    font-size: 14px;
    gap: 5px;
    margin: 20px 5px;
    font-weight: normal;
}
.login-btn{
    border: none;
    padding: 18px 0;
    font-size: 17px;
    color: #8e8e8e;
}
.lost-password-text{
    color: #47474780;
    text-align: center;
    margin-top: 4px;
    font-size: 15px;
    
}

