.card-outer-div{
       /* margin-bottom: 40px; */
       margin: 20px;
}

.card-img{
height:310px ;
width: 300px;
}

.card-title{
    font-weight: bold;
    font-size: 20px;
    color:#161922
}

.price-box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}
.old-price{
    font-size: 13px;
    color:#A8A8A8;
    margin-right: 5px 0 10px 0px;
    padding-bottom: 3px;
    text-decoration: line-through;
}

.new-price{
    font-size: 18px;
    color: #0089F7;
}

.card-top-imageSection{
    position: relative;
    width: 280px;
}

.card-image-label{
    position: absolute;
    top: 10px;
    left: 4px;
    background-color: #0089F7;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 8px;
}

.card-image-icons{
position: absolute;
display: flex;
flex-direction: column;
gap:15px;
font-size: 18px;
top: 15px;
right: 15px;
}


/* ------card bottom */
.card-bottom{
    height: 100px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.rating-div{
padding-top:3px ;
color:#0089F7
}

.hover-sideicon{
    background-color: rgba(216, 211, 211, 0.352);
    border-radius: 50%;
    /* height: 15px;
    width: 15px; */
    padding: 5px;
    font-size: 20px;
}

.hover-sideicon:hover{
    color: #0089F7;
}
/* @media only screen and (min-width: 991px){
    .card-top-imageSection{
        width: 350px;
    }
    
} */


/* ------------------------------------------------------phone screen */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .card-top-imageSection{
        max-width: 250px;
        
    }
    .card-img{
        height: 200px;
        width: 200px;
    }
}

/* ----------------------------------------------------------------tablets */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .card-top-imageSection{
        width: 208px;
    }
    .card-img{
        height: 220px;
    }
    .card-title{
        font-size: 15px;
        font-weight: normal;
    }
   .card-outer-div{
    margin-bottom: 10px;
   }
   
}


@media screen and (min-width:1200px){
    .card-outer-div{
        margin: 15px;
    }
    
}