.parentCard {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    scroll-behavior: smooth;
}

.parentCard::-webkit-scrollbar {
    display: none; 
}


.promotion-outer-div{
margin: 10px 120px;
overflow-x: scroll;
padding-bottom:30px;
}

.promotion-heading{
    margin-bottom: 20px;
    color:#161922;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

.outer-div-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.icons{
    display: flex;
    gap: 6px;
    cursor: pointer;
}
.arrow-icon{
    background-color: #F7F7F7;
    padding: 16px 20px;
    border-radius: 6px;
    font-size: 17px;
    color: rgb(175, 168, 168);
}

.bottom-scroll-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 30px;
    cursor: pointer;
}

.home-icon{
    color: #0089F7;
}

.circle-icon{
    font-size: 14px;
    color: #d6cfcf;
}

@media only screen and (max-width: 991px){
    .promotion-outer-div{
        margin: 10px 60px;
        }
}

@media screen and (min-width: 100px) and (max-width: 480px) {
    .promotion-heading{
        font-size: 13px;
        margin-bottom: 0;
    }
    .promotion-outer-div{
        margin: 0 30px;
    }
    .outer-div-top{
        margin: 20px 0;
    }
    .bottom-scroll-icons{
        margin-top: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .promotion-heading{
        font-size: 16px;
        font-weight: normal;
    }
    .promotion-outer-div{
        margin: 0 10px;
    }
    .bottom-scroll-icons{
        margin: 0;
    }
    .parentCard{
        margin: 0 15px;
    }

}